<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Payment received</h1>
    <p>
      You can see details of your new reservation here: <%= url_for(host: 'localhost:3000',
            controller: 'reservations',
            action: 'index') %> 
    </p>
  </body>
</html>